pipelines/parent_pipeline.txt
{
    "name": "parent_pipeline_NORTHWIND",
    "objectId": "5c13f218-cd47-4c64-b0b8-b92273a6fc42",
    "properties": {
        "activities": [
            {
                "name": "SQL Metabase",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "type": "SqlServerTable",
                        "schema": [],
                        "typeProperties": {
                            "schema": "dbo",
                            "table": "SQLCatalogTable",
                            "database": "northwind"
                        },
                        "externalReferences": {
                            "connection": "9417f3e7-3889-458e-b7d1-0e19ce204722"
                        }
                    }
                }
            },
            {
                "name": "Bronze Layer",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "SQL Metabase",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('SQL Metabase').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Save Metadata",
                            "type": "AppendVariable",
                            "dependsOn": [
                                {
                                    "activity": "Table Ingestion",
                                    "dependencyConditions": [
                                        "Succeeded",
                                        "Failed"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "variableName": "BronzeMetadata",
                                "value": {
                                    "value": "@activity('Table Ingestion').output.pipelineReturnValue",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Table Ingestion",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "915a8cbf-5902-48a1-aa24-84857252af19",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "DatabaseName": {
                                        "value": "@pipeline().parameters.DatabaseName",
                                        "type": "Expression"
                                    },
                                    "TableName": {
                                        "value": "@item().TableName",
                                        "type": "Expression"
                                    },
                                    "TableSchema": {
                                        "value": "@item().TableSchema",
                                        "type": "Expression"
                                    },
                                    "WatermarkColumn": {
                                        "value": "@item().WatermarkColumn",
                                        "type": "Expression"
                                    },
                                    "WatermarkType": {
                                        "value": "@item().WatermarkType",
                                        "type": "Expression"
                                    },
                                    "KeyColumn": {
                                        "value": "@item().KeyColumn",
                                        "type": "Expression"
                                    },
                                    "PartitionColumn": {
                                        "value": "@item().PartitionColumn",
                                        "type": "Expression"
                                    },
                                    "PartitionType": {
                                        "value": "@item().PartitionType",
                                        "type": "Expression"
                                    },
                                    "Modeling": {
                                        "value": "@item().Modeling",
                                        "type": "Expression"
                                    },
                                    "DataDomain": {
                                        "value": "@item().DataDomain",
                                        "type": "Expression"
                                    },
                                    "IsInitialLoad": {
                                        "value": "@item().IsInitialLoad",
                                        "type": "Expression"
                                    },
                                    "LastWatermark": {
                                        "value": "@item().LastWatermark",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Silver Layer",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze Layer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "b2d411d5-4b59-428c-a7c1-cf621d4260eb",
                    "workspaceId": "f8cbb727-0c9a-4301-886c-e43a91759b60",
                    "parameters": {
                        "bronze_metadata": {
                            "value": {
                                "value": "@string(variables('BronzeMetadata') )\n",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "Gold Layer",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "Silver Layer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "ef6be977-1f93-4c02-9471-9f155e49c1ab",
                    "workspaceId": "f8cbb727-0c9a-4301-886c-e43a91759b60",
                    "parameters": {
                        "silver_metadata": {
                            "value": {
                                "value": "@string(activity('Silver Layer').output.result.exitValue)",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "Succes Tables",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Gold Layer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@json(activity('Gold Layer').output.result.exitValue)",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@equals(item().GoldStatus, 'Success')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Failed Tables",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Gold Layer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@json(activity('Gold Layer').output.result.exitValue)",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@not(equals(item().GoldStatus, 'Success'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Logs Watermarks",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Succes Tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Succes Tables').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Update Watermark",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[sp_UpdateSQLWatermark]",
                                "database": "northwind",
                                "storedProcedureParameters": {
                                    "DatabaseName": {
                                        "value": {
                                            "value": "@item().DatabaseName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "NewWatermark": {
                                        "value": {
                                            "value": "@item().NewWatermark",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "TableName": {
                                        "value": {
                                            "value": "@item().TableName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "TableSchema": {
                                        "value": {
                                            "value": "@item().TableSchema",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "externalReferences": {
                                "connection": "9417f3e7-3889-458e-b7d1-0e19ce204722"
                            }
                        },
                        {
                            "name": "Success Logs",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Update Watermark",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[sp_SQLInsertTableLog]",
                                "database": "northwind",
                                "storedProcedureParameters": {
                                    "BronzeStatus": {
                                        "value": {
                                            "value": "@item().BronzeStatus",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "DatabaseName": {
                                        "value": {
                                            "value": "@item().DatabaseName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "GoldStatus": {
                                        "value": {
                                            "value": "@item().GoldStatus",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "IsInitialLoad": {
                                        "value": {
                                            "value": "@item().IsInitialLoad",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "PipelineName": {
                                        "value": {
                                            "value": "@pipeline().Pipeline",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "PipelineRunID": {
                                        "value": {
                                            "value": "@pipeline().RunId",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "RowsInserted": {
                                        "value": {
                                            "value": "@item().RowsCopied",
                                            "type": "Expression"
                                        },
                                        "type": "Int32"
                                    },
                                    "Runtime": {
                                        "value": {
                                            "value": "@pipeline().TriggerTime",
                                            "type": "Expression"
                                        },
                                        "type": "Datetime"
                                    },
                                    "SemanticRefresh": {
                                        "value": "Success",
                                        "type": "String"
                                    },
                                    "SilverStatus": {
                                        "value": {
                                            "value": "@item().SilverStatus",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "TableName": {
                                        "value": {
                                            "value": "@item().TableName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "TableSchema": {
                                        "value": {
                                            "value": "@item().TableSchema",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "externalReferences": {
                                "connection": "9417f3e7-3889-458e-b7d1-0e19ce204722"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Failure Logs",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Failed Tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Failed Tables').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Failed Logs",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[sp_SQLInsertTableLog]",
                                "database": "northwind",
                                "storedProcedureParameters": {
                                    "BronzeStatus": {
                                        "value": {
                                            "value": "@item().BronzeStatus",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "DatabaseName": {
                                        "value": {
                                            "value": "@item().DatabaseName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "GoldStatus": {
                                        "value": {
                                            "value": "@item().GoldStatus",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "IsInitialLoad": {
                                        "value": {
                                            "value": "@item().IsInitialLoad",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "PipelineName": {
                                        "value": {
                                            "value": "@pipeline().Pipeline",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "PipelineRunID": {
                                        "value": {
                                            "value": "@pipeline().RunId",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "RowsInserted": {
                                        "value": {
                                            "value": "0",
                                            "type": "Expression"
                                        },
                                        "type": "Int32"
                                    },
                                    "Runtime": {
                                        "value": {
                                            "value": "@pipeline().TriggerTime",
                                            "type": "Expression"
                                        },
                                        "type": "Datetime"
                                    },
                                    "SemanticRefresh": {
                                        "value": "Failed",
                                        "type": "String"
                                    },
                                    "SilverStatus": {
                                        "value": {
                                            "value": "@item().SilverStatus",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "TableName": {
                                        "value": {
                                            "value": "@item().TableName",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "TableSchema": {
                                        "value": {
                                            "value": "@item().TableSchema",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "externalReferences": {
                                "connection": "9417f3e7-3889-458e-b7d1-0e19ce204722"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Wait1",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Logs Watermarks",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Failure Logs",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "waitTimeInSeconds": 1
                }
            }
        ],
        "parameters": {
            "DatabaseName": {
                "type": "string",
                "defaultValue": "northwind"
            }
        },
        "variables": {
            "BronzeMetadata": {
                "type": "Array"
            }
        },
        "lastModifiedByObjectId": "c2b6922f-9943-492e-89cc-e2b85c16ac74",
        "lastPublishTime": "2026-01-05T18:37:30Z"
    }
}